body {
  background-color: #d0d0d0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.signup-container {
  background-color: #f0f0f0;
  border: 1px solid #aaa;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  padding-top: 0;
  width: 350px;
  text-align: center;
  margin-top: 20px;
}

.login-container h2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 24px;
  color: #333;
}

.input-group {
  margin-bottom: 16px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.3rem;
  color: #444;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #e6e6e6;
  font-size: 1.1rem;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #d8d8d8;
  border: 1px solid #bbb;
  border-radius: 4px;
  font-size: 1.3rem;
  cursor: pointer;
  font-family: "VT323", monospace;
  font-weight: bold;
  margin-top: 10px;
}

.login-button:hover {
  background-color: #c8c8c8;
}

.separator {
  margin: 20px 0;
  font-size: 1.2rem;
  color: #555;
}

.social-logins {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.social-icon {
  width: 44px;
  height: 44px;
  cursor: pointer;
  border-radius: 50%;
  padding: 4px;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-link {
  margin-top: 20px;
  font-size: 1.1rem;
  color: #333;
}
.login-link a {
  color: #0000ee;
  text-decoration: underline;
}
