.setting-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 8px;
  margin-bottom: 20px;
}
.theme-toggle {
  display: flex;
  border: 1px solid #000000;
  border-radius: 20px;
  overflow: hidden;
}
.theme-btn {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  background: #fff;
}
.theme-btn.active {
  background-color: #007bff;
  color: white;
}

.divider {
  margin: 30px 0;
  border: 0;
  border-top: 1px solid #ccc;
}

.address-display-card {
  border: 1px solid #000000;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.6rem;
}
.address-info p {
  margin: 5px 0;
  font-size: 1rem;
}
.btn-edit-address {
  background: none;
  border: none;
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-form {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  width: 350px;
}
.form-group {
  margin-bottom: 10px;
}
.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
.form-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.btn-avancar {
  background-color: #90ee90;
  flex: 1;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.btn-cancelar {
  background-color: #f08080;
  flex: 1;
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* MODO ESCURO */
.dark-mode .setting-row,
.dark-mode .address-display-card {
  border-color: #565656;
  background-color: #1c1c1c;
  color: #f0f0f0;
}
.dark-mode .modal-form {
  background-color: #1c1c1c;
  color: #f0f0f0;
  border: 1px solid #565656;
}
.dark-mode input {
  background-color: #565656;
  color: #fff;
  border: 1px solid #888;
}
